ipynb
numpy
torch
torchaudio
torchvision
librosa # Possibly not needed. We use it only for calculating onsets, which is not that difficult to implement ourselves.
matplotlib
transformers
datasets
einops
local-attention
moviepy # for generatting videos of the defussion and generation processes - mainly for debugging
wandb
sounddevice
IPython
websockets